<?xml version="1.0" encoding="UTF-8"?>

<!--级别排序为： TRACE < DEBUG < INFO < WARN < ERROR -->
<configuration scan="true" scanPeriod="60 seconds">

	<contextName>msdp</contextName>

	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<!--<property name="LOG_HOME" value="/logs" />-->

	<!-- 输入到控制台 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] \(%class.java:%line\) %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="E" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 是否追加内容 -->
		<Append>true</Append>
		<!-- 指定file -->
		<File>cheng_error.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] \(%class.java:%line\) %msg%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<!-- 当文件记录满1024k时，将记录到第二个log文件 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>cheng_error.%d{yyyy-MM-dd}.log.%i</FileNamePattern>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>4MB</MaxFileSize>
		</triggeringPolicy>

	</appender>
 

	<!-- 日志输出级别为DEBUG,开发环境 -->
	<root level="debug">
		<appender-ref ref="stdout" />
		<!--<appender-ref ref="E" />-->
	</root>／

</configuration>