<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--  启动SpringMVC的注解功能，它会自动注册HandlerMapping、  HandlerAdapter、ExceptionResolver的相关实例 -->
    <mvc:annotation-driven />
    <mvc:default-servlet-handler />
    <!-- DispatcherServlet会过滤所有的请求，这样请求静态资源时会出问题，加上该配置后，请求resources下面的静态资源时，url不会被过滤 -->
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <!-- 扫描添加了@Controller等注解的类 -->
    <context:component-scan base-package="cheng,com" />

    <!--  ViewResolver 视图解析器，对处理器返回的ModelAndView进行解析， 返回到相应的视图页面，  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 文件解析器 -->
    <bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="10485760000"></property>
        <property name="maxInMemorySize" value="40960"></property>
    </bean>
</beans>